In [21]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import sklearn as sk

In [2]:
df=pd.read_csv("homeprices.csv")

In [3]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
# to check the missing value 
df["bedrooms"].isnull().sum()

1

In [14]:
#filling the missing value with mean
df["bedrooms"]=df["bedrooms"].fillna(df["bedrooms"].mean())
new_df=df
new_df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
model=linear_model.LinearRegression()
model.fit(df.drop("price",axis="columns"),df.price)

LinearRegression()

In [20]:
# lets predict
# what is the price of home if the area is 3000 or badroom is 3 or age is 40
model.predict([[10000,3,5]])

array([1436171.17007509])